#  Python Sets â€“ Practice Questions

### Q1
Create a set from the list below and print only the unique values.

```python
data = [10, 20, 20, 30, 40, 40]
```

In [2]:
# write your code here
data = [10, 20, 20, 30, 40, 40]
s1 = set(data)
print(s1)

{40, 10, 20, 30}

### Q2
What will be the output? Explain why.

```python
s = {1, 2, 3, 3, 2}
print(s)
```

In [3]:
# write your code here
s={1,2,3,3,2}
print(s)

# Output is :- {1, 2, 3}
# because in set duplicates values will be removed

{1, 2, 3}

### Q3
Create an empty set and add numbers from 1 to 5 using a loop.

In [4]:
# write your code here
s=set()
for i in range(1,6):
    s.add(i)
print(s)

{1, 2, 3, 4, 5}

### Q4
Why does this code give an error? Fix it.

```python
s = {}
s.add(10)
```

In [5]:
# write your code here
s = {}
s.add(10)

#this code will give error because s = {} is not set it is dictionary

#The correct way to create an empty set in Python is to use the set() constructor:

s = set()

AttributeError: 'dict' object has no attribute 'add'

### Q5
Given:
```python
A = {2, 4, 6, 8}
B = {4, 8, 12}
```
Find Union, Intersection, A-B

In [6]:
# write your code here
A = {2, 4, 6, 8}
B = {4, 8, 12}
print("Unino is:- ",A|B)
print("Intersection is:- ",A&B)
print("A-B is:- ",A-B)

Unino is:-  {2, 4, 6, 8, 12}
Intersection is:-  {8, 4}
A-B is:-  {2, 6}

### Q6
Check whether 15 exists in the set {5, 10, 15, 20}.

In [ ]:
# write your code here
s={5,10,15,20}
if 15 in s:
    print("15 exists in the set")
else:
    print("15 does not exists in the set")

### Q7
Remove element 30 safely from {10, 20, 30, 40}.

In [8]:
# write your code here
s={10,20,30,40}
print("Before Removing",s)
if 30 in s:
    s.remove(30)
    print("Element 30 removed successfully")
print("After Removing:- ", s)

Before Removing {40, 10, 20, 30}
Element 30 removed successfully
After Removing:-  {40, 10, 20}

### Q8
Count unique elements in:
```python
nums = [1, 2, 2, 3, 4, 4, 5]
```

In [9]:
# write your code here
nums = [1, 2, 2, 3, 4, 4, 5]
s=set(nums)
print("Unique elements in nums are:- ",s)

Unique elements in nums are:-  {1, 2, 3, 4, 5}

### Q9
What will be the output?
```python
s = {10, 20, 30}
s.add(20)
print(len(s))
```

In [10]:
# write your code here
s = {10, 20, 30}
s.add(20)
print(len(s))

3

### Q10
Can a set contain a list? Why?
```python
s = {1, 2, [3, 4]}
```

In [11]:
# write your code here
s = {1, 2, [3,4]}

# No set doesn't contain a list because list is mutable.
# TypeError                                 Traceback (most recent call last)
# /tmp/ipython-input-3969443797.py in <cell line: 0>()
#       1 # write your code here
# ----> 2 s = {1, 2, [3, 4]}

# TypeError: unhashable type: 'list'

TypeError: unhashable type: 'list'

### Q11
Convert {100, 200, 300} into list and print first element.

In [12]:
# write your code here
s={100,200,300}
l=list(s)
print(l[0])

200

### Q12
Students in two classes:
```python
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
```

In [13]:
# write your code here
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
print("Union:- ",class_A|class_B)
print("Intersection:- ",class_A&class_B)
print("Difference:- ",class_A-class_B)
print("Symmetric Difference:- ",class_A^class_B)

Union:-  {'Riya', 'Simran', 'Neha', 'Aman', 'Karan'}
Intersection:-  {'Aman', 'Neha'}
Difference:-  {'Riya', 'Karan'}
Symmetric Difference:-  {'Simran', 'Karan', 'Riya'}

### Q13
Find unique characters in:
```python
text = 'programming'
```

In [14]:
# write your code here
text = 'programming'
s=set(text)
print(s)

{'a', 'g', 'p', 'm', 'i', 'o', 'r', 'n'}

### Q14
Remove duplicate words from:
```python
sentence = 'python is easy and python is powerful'
```

In [15]:
# write your code here
sentence = 'python is easy and python is powerful'
s=sentence.split()
s1=set(s)
print(s1)

{'python', 'and', 'is', 'powerful', 'easy'}

### Q15
What is the output?
```python
s = set('hello')
print(s)
```

In [16]:
# write your code here
s = set('hello')
print(s)

{'o', 'e', 'l', 'h'}