# Python Variables Practice (Assignment 1)

**Topics Covered:**
- Variable creation
- int, float, str, bool data types
- Printing variables
- f-strings

## Section 1: Variable Creation & Printing

### Question 1
Create a variable to store your **age** and print it.

In [1]:
# write your answer

age =35

print(age)

35

### Question 2
Create a variable to store the **price of a notebook** (can be a decimal value) and print it.

In [2]:
# write your answer
price = 10

print(price)

10

### Question 3
Create a variable to store your **first name** and print it.

In [3]:
# write your answer
first_name = "Kaif"

print(first_name)

Kaif

### Question 4
Create a variable to store whether you have **completed todayâ€™s class** (True/False) and print it.

In [5]:
# write your answer
completed = True

print(completed)

True

### Question 5
Create two variables:
- one to store the **number of classes attended**
- one to store the **average rating** (float)
Print both.

In [4]:
# write your answer
classes = 10
rating = 4.5

print(classes)
print(rating)

10
4.5

## Section 2: Printing using f-strings

### Question 6
Create variables for **name** and **age** and print:
> My name is Rahul and I am 22 years old.

In [6]:
# write your answer
name = "Rahul"
age = 22


### Question 7
Create variables for **item name** and **price** and print:
> The price of Pen is 10.5 rupees.

In [8]:
# write your answer
item_name = "Pen"
price = 10.5

### Question 8
Create variables for **batch name** and **class completed status** and print:
> Batch DA10 class completed status is True.

In [7]:
# write your answer
batch_name = "DA10"
class_completed_status = True