# Python Practice: Tuple and Set (Practice Only)

This notebook contains **practice questions only** on **Tuples** and **Sets**.

Instructions:
- Questions are written in **text cells**
- Write your solution in the **code cell below each question**
- Do NOT use any advanced concepts

##  Tuple Practice Questions

### Question 1
Create a tuple of 5 integers and print it.

In [1]:
# write your answer here
tup = (1,2,3,4,5)
print(tup)

(1, 2, 3, 4, 5)

### Question 2
Create a tuple with different data types (int, float, string, boolean) and print each element separately.

In [2]:
# write your answer here
tup1 = 10 , 20.2 , "hello" , True
for i in tup1:
    print(i)

10
20.2
hello
True

### Question 3
Find the length of a tuple containing names of 4 students.

In [3]:
# write your answer here
tup2 = ("kaif","afzal","sahil","shoaib")
print(len(tup2))

4

### Question 4
Access and print the last element of a tuple.

In [4]:
# write your answer here
tup3 = ("Shoaib","afzal","sahil","kaif")
print(tup3[-1])

kaif

### Question 5
Check whether an element exists in a tuple or not.

In [ ]:
# write your answer here
tup4 = ("Shoaib","afzal","sahil","kaif")
if "kaif" in tup4:
    print("yes")
else :
    print("no")

### Question 6
Convert a tuple into a list.

In [6]:
# write your answer here
tup5 = ("Shoaib","afzal","sahil","kaif")
lst = list(tup5)
print(lst)
print(type(lst))

['Shoaib', 'afzal', 'sahil', 'kaif']
<class 'list'>

### Question 7
Convert a list into a tuple.

In [7]:
# write your answer here
lst1 = ["Shoaib","afzal","sahil","kaif"]
tup6 = tuple(lst1)
print(tup6)
print(type(tup6))

('Shoaib', 'afzal', 'sahil', 'kaif')
<class 'tuple'>

### Question 8
Create a tuple with repeated values and count how many times an element appears.

In [15]:
# write your answer here
tup7 = "apple","banana","apple","orange","banana""apple","banana","apple","orange","banana"
for i in tup7:
    print(i,tup7.count(i))

apple 3
banana 3
apple 3
orange 2
bananaapple 1
banana 3
apple 3
orange 2
banana 3

### Question 9
Find the index of an element in a tuple.

In [10]:
# write your answer here
tup8 = 1,2,3,4,2,1,3,4,5,3,8
print("The index of 8 is:- ",tup8.index(8))

The index of 8 is:-  10

### Question 10
Demonstrate that tuples are immutable (cannot be changed).

In [ ]:
# write your answer here
tup9 = 1,2,3,4,5,6,7,8
tup[1] = 10         # This line Throws TypeError ===>

====>
TypeError                                 Traceback (most recent call last)
/tmp/ipython-input-2339484765.py in <cell line: 0>()
      1 # write your answer here
      2 tup9 = 1,2,3,4,5,6,7,8
----> 3 tup[1] = 10

TypeError: 'tuple' object does not support item assignment